body{
    margin: 0;
    padding: 0;
}

/*.container{

    background: linear-gradient(to bottom, yellow, white);
    

};*/
.container {
    background-image: url('/images/IMG-20241017-WA0027.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

