.header-light {
    background-color: #95a581;
    color: #333;
}

.header-dark {
    background-color: #333;
    color: #fcdc4d;
}

.navigation-menu {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
      
}

/* Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-actions button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center; 
    gap: 100px; /* Espaciado entre logo y carrito */
}

.header-image {
    height: 50px; /* Ajusta según el tamaño del logo */
}

.cart-icon {
    height: 35px; /* Tamaño del icono del carrito */
}

.navigation-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

header {
    flex-shrink: 0; /* Evita que se expanda en flexbox */
    width: 100%; /* Asegura que ocupe todo el ancho */
}


